@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body{
    background-color: #FFF;
    margin: 0 auto;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 100%;
    line-height: unset !important;
    color: rgba(102, 102, 102, 1);
    text-align: center;
}

p{
    font-size: 0.85rem;
}