@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body{
    background-color: #FFF;
    margin: 0 auto;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 100%;
    line-height: unset !important;
    color: rgba(102, 102, 102, 1);
    text-align: center;
}
.anim{
    display: inline;
}
a{
    color: inherit;
}

p{
    font-size: 0.85rem;
}

.grid-sizer,
.grid-item { width: 30%; margin-bottom: 10px; margin-left: 10px;}

.flickr-img{
    position: relative;
}
.flickr-title{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    word-break: break-word;
}
@media screen and (max-width: 360px) {
    .grid-sizer, .grid-item{
        width: 45%;
    }
    .flickr-title{
        font-size: 0.65rem;
    }
}
  