---
---

@import url("https://fonts.googleapis.com/css?family=Lekton&display=swap");
@import url("spectre.min.css");
@import url("colorful.css");
@font-face {
  font-family: "Chilanka";
  src: url("../fonts/Chilanka-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Chilanka-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Chilanka-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(85, 51, 68);
  word-break: break-word;
}
html,
body {
  font-family: "Lekton", sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 17px;
}
pre {
  overflow-x: auto;
}
a {
  color: #5755d9;
}
a:visited {
  color: #807fe2;
}
a:hover {
  text-decoration: none;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
}
.tile-title {
  text-transform: capitalize;
}
.ml-font {
  font-family: "Chilanka";
}

.site-border {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
}
.site-bg-white {
  background: #fff;
}
.site-list-style {
  list-style: none;
}
.site-vertical-align {
  vertical-align: text-bottom;
}
.site-headings {
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  margin: 20px 0 10px 0;
  font-weight: 600;
  text-transform: capitalize;
}
.site-border-radius-0 {
  border-radius: 0;
}
code {
  background: #807fe2;
  color: #fff;
}
.site-card {
  padding: 0.4rem;
  margin-top: 10px;
}
.small {
  font-size: 0.9em;
  font-style: italic;
  color: #5755d9;
}
.highlight code {
  font-family: "Lekton", sans-serif;
  background-color: inherit;
  color: inherit;
}
.site-brand {
  margin-bottom: 0;
  font-size: 1.4em;
}
.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px hsla(0, 0%, 78.4%, 0.2);
}
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 840px) {
  .site-margin-top {
    margin-top: 10px;
  }
  .site-brand {
    font-size: 0.87em;
  }
}
