@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');
* { 
  box-sizing: border-box; 
}

body{
  font-family: 'Ubuntu Mono', monospace;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}
/*.blog-bg-img{
  background-image: url(https://live.staticflickr.com/1564/24375779681_77c6c8d308_c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }*/
  .blog-bg-img {
    margin: 0;
    background-size: cover;
    background: url("https://live.staticflickr.com/65535/50728746451_f414e2d910_c.jpg") no-repeat center center fixed;
    /*background-blend-mode: darken;*/
    /*blend mode optional at this stage; will be used more in the next demo.*/
    transition: 5s;
  }
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
  }

  .cover-container {
    max-width: 42em;
  }

  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/*body{
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 100%;
    line-height: unset !important;
    color: rgba(102, 102, 102, 1);
    text-align: center;
}
.anim{
    display: inline;
}
a{
    color: inherit;
}

p{
    font-size: 0.85rem;
}
.grid{
    margin: 0 auto;
}
.grid-sizer,
.grid-item { 
    width: 250px; 
    margin-bottom: 10px; 
     margin-left: 10px;  
     }*/

/*.flickr-img{
    position: relative;
}
.flickr-title{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    word-break: break-word;
}
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}
.crossfade > figure:nth-child(1) { background-image: url('https://live.staticflickr.com/1548/24165828851_eed4a06e65_c.jpg'); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('https://live.staticflickr.com/1593/24226463056_0e745be883_c.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('https://live.staticflickr.com/1564/24375779681_77c6c8d308_c.jpg');
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('https://live.staticflickr.com/1696/24144513422_7ba3dfe9b5_c.jpg');
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('https://live.staticflickr.com/7855/46041897665_b541bcdae9_c.jpg');
}
@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}
@media screen and (max-width: 360px) {
    .flickr-title{
        font-size: 0.65rem;
    }
    }*/
    