<header class="navbar container-fluid main-header">
  <section class="navbar-section">
    <!-- <a href="..." class="navbar-brand mr-2">Spectre.css</a> -->
    <h1 class="site-brand">
      <a href="{{ site.url }}" class="mr-2">{{ site.title }}</a>
    </h1>

    <!-- <a href="contact" class="btn btn-link">Contact</a> -->
    <!-- <a href="..." class="btn btn-link">GitHub</a> -->
    <a class="px-2" href="http://facebook.com/va6un" target="_blank"
      ><img
        class="avatar avatar-sm site-bg-white site-vertical-alig site-border-radius-0"
        src="img/facebook-square.svg"
        alt=""
    /></a>

    <a class="px-2" href="https://twitter.com/va6un" target="_blank"
      ><img
        class="avatar avatar-sm site-bg-white site-vertical-alig site-border-radius-0"
        src="img/twitter-square.svg"
        alt=""
    /></a>

    <a class="px-2" href="https://github.com/va6un" target="_blank"
      ><img
        class="avatar avatar-sm site-bg-white site-vertical-align site-border-radius-0"
        src="img/github.svg"
        alt=""
    /></a>
  </section>
</header>
